<?xml version="1.0"?>
<model>
  <name>generic_lidar</name>
  <version>1.0</version>
  <!--<sdf version='1.4'>generic_lidar.sdf</sdf>-->
  <author>
    <name>EastBayRoboticsClub</name>
    <email>https://github.com/organizations/EastBayRoboticsClub</email>
  </author>
  <description>
    The generic_lidar is a gazebo model and plugin that can be used to mimic many real world lidars.
    Many of the paramters can be tweaked to match the specs of your particular device.
  </description>
</model>